<div class="accordion" id="reservations_accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab">
      <h6><a href="#collapse_requests" data-toggle="collapse">Pending Requests</a></h6>
    </div>

    <div class="collapse show" id="collapse_requests" data-parent="#reservations_accordion" role="tabpanel">
      <div class="card-body">
        <div class="table-responsive text-sm">
          <table class="table table-hover table-inverse">
            <thead>
              <tr>
                <th>Requests</th>
                <th>Lodging</th>
                <th>Created At</th>
                <th>Status</th>
                <th>Type</th>
                <th>Price</th>
              </tr>
            </thead>

            <tbody>
              <% if @requests.present? %>
                <%= render partial: 'request', collection: @requests, as: :reservation %>
              <% else %>
                <tr><td colspan="5" class="text-center">No Request found!</td></tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab">
      <h6>
        <a class="collapsed" href="#collapse_bookings" data-toggle="collapse">
          Confirmed Bookings & Options
        </a>
      </h6>
    </div>
    <div class="collapse" id="collapse_bookings" data-parent="#reservations_accordion" role="tabpanel">
      <div class="card-body">
        <div class="table-responsive text-sm">
          <table class="table table-hover table-inverse">
            <thead>
              <tr>
                <th>Booking</th>
                <th>Lodging</th>
                <th>Created At</th>
                <th>Payment</th>
                <th>Type</th>
                <th>Price</th>
              </tr>
            </thead>

            <tbody>
              <% if @bookings.present? %>
                <%= render @bookings %>
              <% else %>
                <tr><td colspan="5" class="text-center">No booking or Option found!</td></tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
