<h2>My Reservations</h2>

<table class="table">
  <thead>
    <tr>
      <th>Lodging</th>
      <th>Check in</th>
      <th>Check out</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <%= render @reservations %>
  </tbody>
</table>
