<div class="card border-dark text-center mb-3">
  <div class="card-body">
    <h4 class="card-title homepage pt-3 pb-3">Dasboard</h4>

    <div class="alert alert-primary alert-dismissible fade show text-center margin-bottom-1x">
      <span class="alert-close" data-dismiss="alert"></span>
      <i class="icon-camera"></i>&nbsp;&nbsp;
      <strong>Primary alert:</strong> Deserunt praesentium laboriosam
      <a href="#">quaerat mollitia.</a>
    </div>

    <div class="alert alert-success alert-dismissible fade show text-center margin-bottom-1x">
      <span class="alert-close" data-dismiss="alert"></span>
      <i class="icon-help"></i>&nbsp;&nbsp;
      <strong>Success alert:</strong> Deserunt praesentium laboriosam quaerat mollitia.
    </div>

    <div class="alert alert-warning alert-dismissible fade show text-center margin-bottom-1x">
      <span class="alert-close" data-dismiss="alert"></span>
      <i class="icon-bell"></i>&nbsp;&nbsp;
      <strong>Warning alert:</strong> Deserunt praesentium laboriosam quaerat mollitia.
    </div>

    <div class="alert alert-danger alert-dismissible fade show text-center margin-bottom-1x">
      <span class="alert-close" data-dismiss="alert"></span>
      <i class="icon-ban"></i>&nbsp;&nbsp;
      <strong>Danger alert:</strong> Deserunt praesentium laboriosam quaerat mollitia.
    </div>

    <div class="alert alert-info alert-dismissible fade show text-center margin-bottom-1x">
      <span class="alert-close" data-dismiss="alert"></span>
      <i class="icon-layers"></i>&nbsp;&nbsp;
      <strong>Info alert:</strong> Deserunt praesentium laboriosam quaerat mollitia.
    </div>
  </div>
</div>

<div id="booking-details"></div>
<%#= render partial: 'dashboard/bookings/details_modal', collection: @bookings, as: :booking %>
