<div class="row row pl-2 pr-2 pt-0">
  <span class="col-md-8 text-left border-bottom border-black p-0">
    Taxes
  </span>

  <span class="col-md-4 text-right border-bottom border-black">
    €<%= child['tax'] %>
  </span>
</div>
