<div class="col-md-12 mt-2 row">
  <span class="col-md-8 text-left border-default border-black">
    <b><%= render_date rate['day'].to_date %></b>
  </span>

  <span class="col-md-4 text-right border-default border-black">
    €<%= rate['value'] %>
  </span>
</div>
