<p>Hi <%= @user.full_name %>,</p>

<p>Please confirm from the link below if you've request to connect this social account with your nice2stay account.</p>
<p>Account Type: <%= @social_login.provider %></p>
<p>Email: <%= @social_login.email %></p>

<p><%= link_to 'Confirm my account', confirmation_users_social_registration_url(@user, confirmation_token: @social_login.confirmation_token) %></p>
