<tr colspan="2">
  <th>
    <div class="d-flex justify-content-between align-items-center">
      <%= link_to dashboard_booking_path(notification.notifiable), class: "navi-link" do %>
        <span class="text-xxs notification-item <%= unread_class(notification) %>">
          <%= "#{notification.action} #{notification.notifiable.identifier}" %>
        </span>
      <% end%>
    </div>
  </th>
</tr>
