<div class="toolbar-section" id="account">
  <% if user_signed_in? %>
    <%= link_to 'Logout', destroy_user_session_path, class: 'btn btn-primary btn-block', method: :delete %>
  <% else %>
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li class="nav-item"><a class="nav-link active" href="#login" data-toggle="tab" role="tab">Log In</a></li>
      <li class="nav-item"><a class="nav-link" href="#signup" data-toggle="tab" role="tab">Sign Up</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="login" role="tabpanel">
        <%= render 'devise/sessions/form' %>
      </div>

      <div class="tab-pane fade" id="signup" role="tabpanel">
        <%= render 'devise/registrations/form' %>
      </div>
    </div>
  <% end %>
</div>
