<div class="alert alert-<%= type %> alert-dismissible fade show text-center">
  <span class="alert-close" data-dismiss="alert"></span>
  <i class="icon-layers"></i>&nbsp;&nbsp;<strong><%= title %></strong> <%= description.html_safe %>
</div>
