<div class="toolbar-section" id="cart">
  <div class="table-responsive shopping-cart mb-0">
    <table class="table">
      <thead>
        <tr>
          <th colspan="2">
            <div class="d-flex justify-content-between align-items-center">
              <%= link_to "overview shopping cart", carts_path, class: "text-dark-bold"%>
                
            </div>
          </th>
        </tr>
      </thead>

      <tbody id="navbar-cart-body">
        <%= render 'carts/navbar_cart_body', reservations: reservations %>
      </tbody>
    </table>
  </div>

  <hr class="mb-3">

  <div class="d-flex flex-wrap justify-content-between align-items-center">
    <%= link_to t('carts.step_1'), carts_path, class: 'btn btn-primary mb-0 mr-0' %>
  </div>
</div>
