<div class="toolbar-section" id="cart">
  <div class="table-responsive shopping-cart mb-0">
    <table class="table">
      <thead>
        <tr>
          <th colspan="2">
            <div class="d-flex justify-content-between align-items-center">Lodgings
              <%= link_to carts_path, class: "navi-link text-uppercase" do %>
                <span class="text-xxs">Expand Cart</span>
                <i class="material-icons keyboard_arrow_right"></i>
              <% end%>
            </div>
          </th>
        </tr>
      </thead>

      <tbody id="navbar-cart-body">
        <%= render 'carts/navbar_cart_body', reservations: reservations %>
      </tbody>
    </table>
  </div>

  <hr class="mb-3">

  <div class="d-flex flex-wrap justify-content-between align-items-center">
    <div class="pr-2 py-1 text-sm">
      Subtotal: <span class='text-dark text-medium cart-subtotal'><%= cart_sub_total(reservations) %></span>
    </div>

    <%= link_to 'Checkout', carts_path, class: 'btn btn-success mb-0 mr-0' %>
  </div>
</div>
