<div class="toolbar-section" id="wishlist">
  <div class="table-responsive shopping-cart mb-0">
    <table class="table">
      <thead>
        <tr>
          <th colspan="2">
            <div class="d-flex justify-content-between align-items-center">Lodgings
              <%= link_to wishlists_path, class: "navi-link text-uppercase" do %>
                <span class="text-xxs">Expand Wishlist</span>
                <i class="material-icons keyboard_arrow_right"></i>
              <% end%>
            </div>
          </th>
        </tr>
      </thead>

      <tbody id="navbar-wishlist-body">
        <%= render 'wishlists/navbar_wishlist_body', wishlists: wishlists %>
      </tbody>
    </table>
  </div>

  <div class="d-flex flex-wrap justify-content-between align-items-center">
    <%= link_to 'Checkout', wishlists_path, class: 'btn btn-primary mb-0 mr-0' %>
  </div>
</div>
