<div class="col-md-12">
  <div class="d-flex flex-column py-5 px-5 align-items-center">
    <p class="text-muted mb-4"><%= @page.content.try(:html_safe) %>
    </p>
  </div>
</div>

<% content_for :canonical do %><%= page_url(@page) %><% end %>

<%= content_for :js_init do %>
  OwlCarousel.init();
<% end %>
