<%= render 'layouts/dashboard/breadcrumbs' %>

<!-- Page Content-->
<div class="container padding-bottom-2x mb-4">
  <div class="row justify-content-center">
    <div class="col-lg-10">

      <!-- Image Carousel-->
      <div class="owl-carousel">
        <% @page.images.each do |image| %>
          <%= image_tag image, alt: @page.title %>
        <% end %>
      </div><br>

      <!-- Post Content -->
      <%= @page.content.html_safe %>
    </div>
  </div>
</div>

<%= content_for :js_init do %>
  OwlCarousel.init();
<% end %>
