<% if resource.errors.any? %>
  <div class="alert alert-danger <%= classes if classes.present? %>" id="error_explanation">
    <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li class="text-xxxs"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
