<div class="row">
  <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3">
    <h1 class="text-center">Log in</h1>
    <%= render 'form', remote: false %>
    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
