<h1>Countries</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Disabled</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <%= render @countries %>
  </tbody>
</table>
