<tr>
  <td class="align-middle"><%= render_rounded_price voucher.amount %></td>
  <td class="align-middle"><%= render_date voucher.created_at %></td>
  <td class="align-middle"><%= render_date voucher.expired_at %></td>
  <td class="align-middle"><%= voucher.code %></td>
</tr>
