<table class="table">
  <thead>
    <tr>
      <% if parent %>
        <th>lodging</th>
      <% end %>
      <th>Discount</th>
      <th>From</th>
      <th>To</th>
      <th>Valid Till</th>
      <th>Condition</th>
    </tr>
  </thead>

  <tbody>
    <%= render discounts, parent: parent %>
  </tbody>
</table>
