<table class="table">
  <thead>
    <tr>
      <th>Offer</th>
      <th>From</th>
      <th>To</th>
      <th>Valid Till</th>
      <th>Condition</th>
    </tr>
  </thead>

  <tbody>
    <%= render discounts %>
  </tbody>
</table>
