// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;

@import "jquery-ui/core";
@import "jquery-ui/theme";
@import "bootstrap";
@import "sticky-footer";
@import "announcements";

// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

#map {
  height: 800px;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    margin: 5px;
    padding: 5px;
    font-size: 12px;

    a {
      color: #000;
      display: block;
      padding: 3px;
     
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #000;
    }
  }
}
