@import 'bootstrap-email';

.footer-wrap {
  bottom: 0;
}

.footer-wrap a {
  color: white;
  margin: 20px;
}

.footer-wrap .content {
  background-color: black;
  height: 40px;
  padding-top: 15px;
  background-color: rgb(57, 67, 75);
  color: white;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}
