.homepage-slider {
  .image-title-box {
    display: block;
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 50%;
    margin-top: -10%;
    margin-left: -24%;
    color: white;
    font-size: 28px;
    padding: 3%;
    text-align: center;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.25);
  }
}
