.home-full-page-layout {
  #searchbar_search_form {
    display: none;
  }

  .site-menu {
    width: auto;
  }

  .navbar {
    background-color: transparent;
  }

  .navbar.navbar-sticky {
    box-shadow: none;
    position: absolute;
  }

  .navbar.navbar-sticky + * {
    margin-top: 0;
  }

  .toolbar .toolbar-toggle {
    border-right: 2px solid transparent;
    background-color: transparent;
    color: white;
  }

  .toolbar .toolbar-dropdown {
    min-height: 100vh;
    position: relative;
    padding-top: 0;
  }

  .jumbotron-background.jumbotron {
    height: 100vh;

    .dark-overlay-image {
      height: 100vh;
    }
  }

  .mt-vh {
    margin-top: 15vh;
  }

  .twitter-typeahead {
    margin-left: 5px;
  }

  #searchbar_search_form {
    display: none;
  }
}

@media (max-width: 1340px) {
  .home-full-page-layout {
    #searchbar_search_form {
      display: block;
    }
  }
}
