// Place all the styles related to the Lodgings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dropdown-toggle::after {
  display: none;
}

.input-spinner-group{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.input-spinner-btn{
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.input-spinner-form{
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

#filters-container {
  .twitter-typeahead {
    .tt-menu {
      min-width: 400px;
    }
  }
}

.twitter-typeahead {
  font-size: 15px;

  .tt-input {
    margin-bottom: 0;
  }

  .autocomplete {
    position: relative !important;
  }

  .tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }

  .tt-hint {
    color: #999;
  }

  .tt-menu {
    width: 100%;
    margin-top: 1px;
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    max-height: 750px;
    overflow-y: auto;
  }

  .tt-suggestion {
    padding: 3px 20px;
    line-height: 24px;
    &:hover{
      background-color: #f0f0f0;
    }
  }

  .tt-cursor {
    color: #fff;
    background-color: #dc9814;
  }

  .tt-highlight {
    font-weight: 700;
  }

  .category-name {
    margin-bottom: 0;
    padding: 5px;
    line-height: 1.1;
    text-align: right;
    border-top: 1px solid #ccc;
  }

  img {
    width: 50px;
    height: 50px;
    min-width: 50px;
  }
}

.lodging-gallery {
  width: 100%;
  float: left;
}
.lodging-gallery img {
  width: 100%;
  height: auto;
}
.lodging-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 24%;
  height: 100px;
}
.lodging-gallery figcaption {
  display: none;
}

.scrollable-content {
  overflow: auto;
  height: 100vh;
  min-height: 400px;
}

.scrollable-gallery {
  margin-top: 20px;
}

.more-filter-dropdown-menu {
  overflow: auto;
  max-height: 75vh;
}

#loader {
  position: fixed;
  top: 50%;
  left: 40%;
  z-index: 3000;
}

#sidebar {
  top: 70px;
  right: 0;
  z-index: 999;
  background: #FFFFFF;
  transition: all 0.3s;
  box-shadow: 0 7px 22px -5px rgba(54, 54, 54, 0.2);
  border: 1px solid #eaeaea;
}

.lodging {
  .short-desc {
    max-height: 180px;
    overflow: auto;
  }
}

div.fixed-standalone {
  position: fixed;
  right: 4%;
}

div.top-50 {
  top: 60px;
}

div.fixed-map {
  position: fixed;
  right: 0;
  padding: 0;
}

nav.fixed-filters {
  top: 70px;
  min-height: 40px;
}

div.fixed {
  position: fixed;
  right: 0;
  top: 80px;
}

div.fixed-bottom {
  position: fixed;
  bottom: -12px;
  left: 0;
}

img.modal-slider-img {
  max-height: 505px;
}

div.line-height-2 {
  line-height: 2;
}

input.autocomplete-field {
  margin-top: -46px;
  z-index: 1;
}

div.filters-show-less {
  max-height: 100px;
  overflow: hidden;
}

div.review-paginator {
  min-width: 480px;
  margin-left: -10px
}

.homepage-actions-row {
  .btn-sm {
    height: 46px;
  }
}

.grid-item {
  .image-title-box {
    display: block;
    position: absolute;
    top: 45%;
    left: 50%;
    width: 50%;
    margin-top: -10%;
    margin-left: -24%;
    background-color: #fff;
    color: #404040;
    font-size: 18px;
    padding: 3%;
    text-align: center;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.25);
  }
}

@media only screen and (min-width: 767px) {
  #show-page-submenu {
    background: transparent !important;
  }
}

@media only screen and (max-width: 768px) {
  #sidebar {
    display: none;
  }

  div.fixed-map {
    position: relative;
  }

  .lodgings-filters .sidebar {
    top: 70px;
  }

  div.search-filters {
    min-height: 1px;
    position: inherit;
  }

  div.top-50 {
    top: 1px;
  }

  .lodgings-filters section, .lodgings-filters button {
    width: 100%;
  }

  .lodgings-filters .more-filters-btn {
    margin-right: 0;
  }

  .lodgings-filters #more-filters {
    z-index: 9999 !important;
  }

  .gallery-container-minimized {
    max-height: 1300px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 600px) {
  div.homepage-actions-row {
    margin: 0;
  }

  div.review-paginator {
    min-width: 100%;
    margin-left: 0px;
  }
}

@media only screen and (min-width: 600px) {
  .max-height-200 {
    max-height: 200px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.modal-xlg {
  max-width: 1000px;
}

.address-mark {
  height: 670px;
  position: relative;
  overflow: hidden;
}

.sub-menubar {
  z-index: 2;
  position: fixed;
  background-color: white;
  transition: top 0.3s;
  top: 20px;
}

.search-filters {
  position: fixed;
  z-index: 2;
  max-height: 57px;
  min-height: 60px;
}

.search-filters #more-filters.modal {
  top: 50px;
}
.search-filters #more-filters .modal-body {
  max-height: 74vh;
  overflow: scroll;
}

header.navbar.navbar-sticky {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.05);
}

p.color-box {
  height: 35px;
  width: 35px;
}

.toolbar-btn {
  display: table-cell;
  transition: all .3s;
  border-right: 2px solid #ffffff;
  background-color: #f5f5f5;
  color: #606060;
  font-size: 20px;
  line-height: 1;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

div.nearby-places {
  max-height: 400px;
  overflow: auto;
}

.no-decoration {
  text-decoration: none;
}

#show-page-submenu {
  position: fixed;
  top: 70px;
  width: 100%;
  height: 40px;
  background-color: white;
  z-index: 8999;

  .nav-item {
    display: inline;
    cursor: pointer;
    a {
      text-decoration: none;
      font-weight: 500;
      font-size: medium;
    }
  }

  .navbar-nav {
    overflow-x: auto;
    white-space: nowrap;
    list-style: none;
    min-height: 40px;
  }
}

#map-container {
  .leaflet-control {
    clear: right;
  }
  .map-searchbox-control {
    border: none;
    padding: 4px;
    padding-top: 10px;
  }

  .search-on-drag-label {
    padding-left: 5px;
  }
}
