.lodgings-map .leaflet-popup-content-wrapper {
  background: white;
  color: #333;
  font-size: 16px;
  line-height: 24px;
}
.lodgings-map .leaflet-popup-content-wrapper a {
  color: #333;
  text-align: center;
}
.lodgings-map .leaflet-popup-content-wrapper p {
  font-size: small;
}
.lodgings-map .leaflet-popup-tip-container {
  width: 30px;
  height: 15px;
}
.lodgings-map .feature-price {
  line-height: 0.5;
  text-align: center;
}
.lodgings-map .feature-price h3 {
  margin: 2px;
}
.lodgings-map .leaflet-popup-tip {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid white;
}
