.lodgings-map .leaflet-popup-content-wrapper {
  background: white;
  color: #333;
  font-size: 16px;
  line-height: 24px;
}
.lodgings-map .leaflet-popup-content-wrapper a {
  color: #333;
  text-align: center;
}
.lodgings-map .leaflet-popup-content-wrapper p {
  font-size: small;
}
.lodgings-map .leaflet-popup-tip-container {
  width: 30px;
  height: 15px;
}
.lodgings-map .feature-price {
  line-height: 0.5;
}
.lodgings-map .feature-price .price{
  font-size: large;
  color: black;
}
.lodgings-map .leaflet-popup-tip {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid white;
}


#map-container {
  .leaflet-control {
    clear: right;
  }
  .map-searchbox-control {
    border: none;
    padding: 10px 10px 4px 10px;
  }

  .search-on-drag-label {
    padding-left: 5px;
  }
}

.map-price-icon {
  width: 50px;
  height: 25px;
  text-align: center;
  line-height: 20px;
  color: black;
  background: white;
  border: 1px solid;
  margin-left: -25px;
  margin-top: -25px;
}

.map-price-icon:before {
  content: '';
  position: absolute;
  left: 1px;
  top: 24px;
  right: 0;
  margin: 0 auto;
  width: 10px;
  height: 0;
  border-top: 7px solid;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.price-icon-hover {
  background: #FFED00;
  z-index: 1000 !important;
}
