<% average_rating, total_reviews = reviews.ratings_average, reviews.count %>

<div class="card border-default">
  <div class="card-body">
    <div class="text-center">
      <div class="d-inline align-baseline display-3 mr-1"><%= average_rating %></div>

      <div class="d-inline align-baseline text-sm text-warning mr-1">
        
        <%= render_stars_tag average_rating %>
      </div>
    </div>

    <div class="pt-3">
      <% Review::RATING_TYPE.each do |type| %>
        <%= avgerage_rating_tag(reviews.rating_sum(type), total_reviews, type) %>
      <% end %>
    </div>
  </div>
</div>
