<!-- Review-->
<div class="comment">
  <div class="comment-body">
    <div class="comment-header d-flex flex-wrap justify-content-between">
      <h4 class="comment-title"><%= review.title %></h4>
      <div class="mb-2">
        <div class="product-rating text-warning">
          <% review.stars.times do |star| %>
            <i class="material-icons star"></i>
          <% end %>
        </div>
      </div>
    </div>

    <p class="comment-text"><%= review.description %></p>
    <div class="comment-footer"><span class="comment-meta"><%= review.user_full_name %></span></div>
  </div>
</div>
