<div class="col-md-12">
  <% if be_availabilities.present? && be_availabilities['data'].present? %>
    <% count = 0 %>

    <% be_availabilities['data'].each do |be_availability, index| %>
      <% child_lodging = get_be_lodging(be_availability) %>

      <% if child_lodging.nil? %>
        <% count += 1 %>
      <% else %>
        <%= render 'lodgings/booking_expert_child', be_availability: be_availability, child_lodging: child_lodging, index: index %>
      <% end %>
    <% end %>

    <% if count == be_availabilities['data'].length %>
      <p>Please select different dates & guest details and try again.</p>
    <% end %>
  <% else %>
    <p>Please select different dates & guest details and try again.</p>
  <% end %>
</div>
