<div class="col-md-12">
  <% if be_availabilities.present? && be_availabilities['data'].present? %>
    <% be_availabilities['data'].each do |be_availability, index| %>
      <% child_lodging = get_be_lodging(be_availability) %>
      <% next if child_lodging.nil? %>
      <%= render 'lodgings/booking_expert_child', be_availability: be_availability, child_lodging: child_lodging, index: index %>
    <% end %>
  <% else %>
    <% if be_availabilities.present? && be_availabilities['data'].present? && be_availabilities['data'].length == 0 %>
      <p>Please select different dates & guest details and try again.</p>
    <% else %>
      <p>Please select dates & guest details.</p>
    <% end %>
  <% end %>
</div>
