<% unless user_signed_in? %>
  <div class="col-lg-12 bg-secondary">
    <div class="card ml-3">
      <div class="card-body bg-white">
        <h5 class="card-title">U bent niet ingelogd</h5>
        <%= t 'zoomed.part_2' %>
      </div>
    </div>
  </div>
<% end %>
