<% if params[:country].present? || params[:region].present? %>
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body bg-white">
        <div class="row">
          <div class="col-lg-10">
            <h5 class="card-title"><%= t 'collection.inspiration' %> in <%= @custom_text.collection_name %></h5>

            <% @custom_text.collections.each do |custom_text| %>
              <%= link_to "#{custom_text.menu_title}", seo_url(custom_text.seo_path), class: 'tag' %>
            <% end %>
          </div>
 
          <div class="col-lg-2">
            <%= image_tag("inspiration_icon.jpg", alt: "visit") %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
