<div>
  <div class="reservation-parent-form-1">
    <%= render 'reservations/parent_form', lodging: lodging, reservation: reservation, id_sufix: '' %>
  </div>

  <div class="col-md-12 d-block p-0 fixed-bottom">
    <div class="card bg-white">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3 ml-md-5">
            <input type="button" name="view-info" value="Questions about <%= lodging.name %>" class="btn btn-outline-secondary w-100 text-danger btn-sm standalone-question-btn">
          </div>

          <div class="col-md-3 ml-auto">
            <input type="button" name="view-more-info" value="Change dates and guests" class="btn btn-outline-primary w-100 btn-sm standalone-modal-btn">
          </div>

          <div class="col-md-3 mr-auto d-none d-md-block ">
            <%= link_to 'Check Availability', '', class: "btn btn-outline-primary btn-sm btn-calculate-bill w-100", data: { lodging_ids: lodging.lodging_children.try(:ids) } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
