<% if custom_text.present? %>
  <div class="col-md-12">
    <h3><%= custom_text.h1_text %></h3>
    <%= custom_text.p_text.try(:html_safe) %>
  </div>

  <% content_for :meta_tags do %>
    <meta name="title" content="<%= custom_text.meta_title %>">
    <meta name="description" content="<%= custom_text.meta_description %>">
  <% end %>
<% end %>
