<div class="reservation-standalone-form">
  <%= render 'reservations/standalone_form', lodging: lodging, reservation: reservation %>
</div>

<div class="col-md-12 d-block p-0 fixed-bottom">
  <div class="card bg-white p-0">
    <div class="card-body mx-auto mt-3 p-0">
      <div class="row ml-5">
        <div class="col-lg-3">
          <input type="button" name="view-more-info" value="Check Availability" class="btn btn-outline-primary btn-sm   standalone-modal-btn">
          <input type="button" name="view-more-info" value="Check Availability" class="btn btn-outline-primary btn-sm  standalone-modal-btn">
        </div>
        <div class="col-lg-5 ml-0">
          <div class="row">
            <label class="text-dark w-50">7 nights:</label>
            <span class="text-right">$200.00/night</span>
          </div>

          <div class="row">
            <label class="text-dark w-50">Cleaningcost:</label>
            <span class="text-right">$150.00</span>
          </div>

          <div class="row">
            <label class="text-dark w-50">Total:</label>
            <span class="text-right">$1550.00</span>
          </div>
        </div>
        <div class="col-lg-4 my-auto">
          <input type="button" name="view-more-info" value="Check Availability" class="btn btn-primary btn-sm w-100 standalone-modal-btn">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="standalone-form-modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-white pb-0">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <div class="reservation-standalone-form-modal">
          <%= render 'reservations/standalone_form', lodging: lodging, reservation: reservation %>
        </div>
      </div>
    </div>
  </div>
</div>
