<div class="bg-secondary sticky-top">
  <div class="reservation-standalone-form">
    <%= render 'reservations/standalone_form', lodging: lodging, reservation: reservation %>
  </div>

  <div class="col-md-12 d-block d-md-none p-0 fixed-bottom">
    <div class="card bg-white p-1">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <label class="sm-check-in-out text-center text-dark w-100"></label>
            <label class="sm-total text-center text-dark w-100"></label>
          </div>

          <div class="col-md-12">
            <input type="button" name="view-more-info" value="Check Availability" class="btn btn-primary btn-sm w-100 mr-5 standalone-modal-btn" data-toggle="modal" data-target="#standalone-form-modal">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="standalone-form-modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-white pb-0">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <div class="reservation-standalone-form-modal">
          <%= render 'reservations/standalone_form', lodging: lodging, reservation: reservation %>
        </div>
      </div>
    </div>
  </div>
</div>
