<div class="row">
  <div class="col-lg-8 col-sm-8 lodgings-list">
    <%= render "lodgings_list", lodgings: @lodgings, regions: @regions %>
  </div>

  <div class="col-lg-4 col-sm-4">
    <%= tag.div nil, id: 'map' %>
  </div>
</div>

<%= content_for :js_init do %>
  Lodging.init();
  $("input[type='number']").InputSpinner();
<% end %>
