<%= render 'shared/photoswipe' %>

<div class="bg-secondary pb-4 padding-top-1x">
  <% if @lodging.as_standalone? %>
    <div class="container">
      <%= render 'standalone', lodging: @lodging, reservation: @reservation %>
    </div>
  <% else %>
    <%= render 'parent', lodging: @lodging, reservation: @reservation %>
  <% end %>
</div>

<%= content_for :js_init do %>
  GuestDropdown.init();
  Lodging.read_more()
  initPhotoSwipeFromDOM('.lodging-gallery');
  initDatePicker();
  Lodging.calculate_bill();
<% end %>
