<div class="modal fade" id="place-details-modal-<%= place.id %>" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= place.name %></h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <div class="owl-carousel">
          <%= render_modal_slider_images place, class: "modal-slider-img" if place.images.present? %>
        </div>

        <p class="text-sm">
          <div id="lodging-description">
            <%= place.description.try(:html_safe) %>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
